<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddProject</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/blog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <style>
          .lol{
              text-decoration: none;
              color: #fff;
          }
          .lol:hover{
              color: black;
          }
          .btn-outline-success:hover {
              background-color: #fff !important;
              color: black !important;
              text-decoration: none;
          }
          .navbar-hp{
          display: none;
         }
      </style>

</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <img src="/assets/icon/dumbways.png" alt="dumbways" class="navbar-brand" style="width: 50px;" >
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/project">AddProject</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/testimonial">Testimonial</a>
          </li>
        </ul>
        <div >
          <button class="btn btn-outline-success" type="submit" >
            <a href="/contact-me" class="lol">Contact Me</a>
          </button>
        </div>
      </div>
      <button class="navbar-toggler"  onclick="isOpen()" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    </div>
    
  </nav>
  <div class="navbar-hp" id="navbarHp" >
    <a href="/" class="navbar-a">Home</a>
    <a href="/project" class="navbar-a" style="background-color: orangered;">AddProject</a>
    <a href="/contact-me" class="navbar-a">Contact Me</a>
    <a href="/testimonial" class="navbar-a" >Testimonial</a>
  </div>

    <!-- from  -->
    <div style="background-color: #e3e7eb;">
      <br>
      <h1 style="text-align: center;">Update My Project</h1>
            <div class="container-sm" style="width: 60%; border: 1px solid #000; margin-top: 50px; margin-bottom: 50px; border-radius: 20px; background-color: #fff; ">
              <div class="custom-form">
                    <form class="form" method="post" action="/update">
                    <input type="hidden" name="id" value="{{data.id}}" readonly>
                          <div class="row mb-3">
                            <div class="col-mb-3">
                              <label for="inputEmail3" class="col-sm-2 col-form-label" style="width: 40%;">Project Name</label>
                              <input type="text" class="form-control" id="inputName" name="inputName" rows="3" value="{{data.name}}" required>
                            </div>
                          </div>

                        <div class="row mb-3">
                          <div style="display: flex;">
                            <div class="form-control" style="border: none; width: 50%;" >
                              <label for="tanggalPertama">Start Date</label>
                              <input type="date" class="form-control" id="start-date" name="startDate" value="{{data.startDate}}" required>
                            </div>
                            <div class="form-control" style="border: none;  width: 50%;" >
                              <label for="tanggalKedua">End Date</label>
                              <input type="date" class="form-control" id="end-date" name="endDate" value="{{data.endDate}}" required>
                            </div>
                          </div>
                        </div>

                          <div class="row mb-3">
                            <div class="form-group">
                              <label for="exampleFormControlTextarea1">Description</label>
                              <textarea class="form-control" id="description" name="description" rows="3" required>{{data.description}}</textarea>
                            </div>
                          </div>

                          <div class="row mb-3">
                            <fieldset >
                              <legend class="col-form-label col-sm-2 pt-0">Technologies</legend>
                              <div style="display: flex;">
                                <div style="display: flex;">
                                  <div style="width: 50%;">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" id="Nodejs"  name="checkbox" value="icons8-nodejs-32.png"> 
                                      <label class="form-check-label" for="Nodejs">
                                        Node Js
                                      </label>
                                    </div>
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" id="Reactjs"  name="checkbox" value="atom.png">
                                      <label class="form-check-label" for="Reactjs">
                                        React Js
                                      </label>
                                    </div>
                                  </div>
                                  <div style="margin-left: 100px; width: 50%;">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" id="Nextjs"  name="checkbox" value="java-script-logo.png">
                                      <label class="form-check-label" for="Nextjs">
                                        Next Js
                                      </label>
                                    </div>
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" id="Typescript"  name="checkbox" value="typecript.png">
                                      <label class="form-check-label" for="Typescript">
                                        TypeScript
                                      </label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              
                            </fieldset>
                          </div>

                          <div class="row mb-3">
                            <div class="input-group mb-2">
                              <input type="file" class="form-control" id="image" name="image">
                              <label class="input-group-text" for="inputGroupFile02">Upload</label>
                            </div>
                          </div>

                          <div style="display: flex; justify-content: right; margin: 10px 10px 10px 10px;">
                            <button type="submit" class="btn btn-primary " style="background-color: black !important;
                            color: #fff !important; border: none;">Submint</button>
                          </div>
                    </form>
              </div>
              </div>
              <br>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>